.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin: 0;
}

.icons-div{
    display: flex;
    justify-content: space-around;
}

.seleted-icon {
    color : #4c5968;
    margin: 15px;
}

.icons{
    color : #aeb8c4;
    margin: 15px;
}